body{
    font-family: 'Ubuntu', sans-serif;
    margin:0;
}
.name{
    font-weight: 700;
    color: rgb(247, 4, 186);
    font-size: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:2%;
    padding:2%;
}
img{
    width: 100%;
}
.header{
    background-image: url(personal-website/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section{
    height: 500px;
    padding: 5%;

}
p{
    margin-bottom: 50px;
}
.link-button{
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient( 45deg, skyblue, blue);
    
    
}
.biography{
    background-image: url(personal-website/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.my-latest-work{
    background-image:url(personal-website/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.latest-work{
    width: 30%;
    float: left;
    margin-left: 2%;
    
}
.work{
    text-align: center;
    margin-bottom: 50px;
}
.what-client-say{
    text-align: center;
    background-image: url(personal-website/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.client-name{
    margin-top: 30px;
}
.title{
    font-size: 10px;
}
.call{
    font-size: 12px;
}
.email{
    font-size: 30px;
    margin: 2px;
}
.contact{
    background-color: rgb(214, 52, 106);
    
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    color:white;
    padding: 50px 70px 50px 70px;

}
footer{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: gray;

}

